body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white url("images/sewer.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* ==============================
   Nav
   ============================== */
.nav img {
  margin: 0 auto;
  padding-top: 10px;
}

/* ==============================
   Rat List
   ============================== */

.rat-list {
  margin: 2em auto;
  width: 70%;
}

.card,
.card-header {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.3rem 1.25rem;
  border: none;
}

.card-body {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  width: 80%;
  margin: 0 auto;
}

.rat-container {
  display: flex;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 45%;
}

.avatar {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
  border: 1px solid black;
  margin: 0.7em;
  width: 92px;
  height: 92px;
}

.rat-inner {
  margin: 0.7em 0.3em;
}

.name {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.level {
  font-weight: bold;
}

.rat-class {
  font-weight: bold;
}

.info-wrapper {
  margin: 0 auto;
  width: 95%;
}

.collapse-tab {
  margin-top: 1.5rem;
}

.login {
  margin: 1em;
  font-size: 0.7em;
  color: gray;
}

.login div {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

thead {
  font-size: 1.1em;
  color: white;
  background-color: #424242;
  border: 2px solid black;
}

.tableResult {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

/* ==============================
   Class Colors
   ============================== */
.deathknight {
  background-color: #c41f3b;
  background-image: url("images/classes/dk.png");
}

.demonhunter {
  background-color: #a330c9;
  background-image: url("images/classes/dh.png");
}

.druid {
  background-color: #ff7d0a;
  background-image: url("images/classes/druid.png");
}

.hunter {
  background-color: #a9d271;
  background-image: url("images/classes/hunter.png");
}

.mage {
  background-color: #40c7eb;
  background-image: url("images/classes/mage.png");
}

.monk {
  background-color: #00ff96;
  background-image: url("images/classes/monk.png");
}

.paladin {
  background-color: #f58cba;
  background-image: url("images/classes/paladin.png");
}

.priest {
  background-color: #ffffff;
  background-image: url("images/classes/priest.png");
}

.rogue {
  background-color: #fff569;
  background-image: url("images/classes/rogue.png");
}

.shaman {
  background-color: #0070de;
  background-image: url("images/classes/shaman.png");
}

.warlock {
  background-color: #8787ed;
  background-image: url("images/classes/warlock.png");
}

.warrior {
  background-color: #c79c6e;
  background-image: url("images/classes/warrior.png");
}

/* ==============================
   Errors
   ============================== */
.error-container {
  background-color: white;
  padding: 10px;
  text-align: center;
}
.error-container code {
  color: red;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex: 1 0 500px;
}
.rotate {
  animation: rotation 2s infinite linear;
  width: 300px;
  height: 300px;
  align-self: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
