body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-top: 0;
}

body {
  background: white url("images/sewer.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.nav {
  text-align: center;
  padding-top: 10px;
}

.flex {
  display: flex;
}

.main {
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.rat-container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  padding: 5px 10px 20px 10px;
}

.rat-container a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 0.2em 0;
}

.rat-container a:hover {
  color: green;
}

.rat-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.rat-emoji {
  float: right;
}

.error-container {
  background-color: white;
  padding: 10px;
  text-align: center;
}
.error-container code {
  color: red;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex: 1 0 500px;
}
.rotate {
  animation: rotation 2s infinite linear;
  width: 300px;
  height: 300px;
  align-self: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
